<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurants List</title>
</head>
<body>
    <!-- {{restaurants}} -->
     <h1>My Favorite Restaurants</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Cuisine</th>
                <th>Rating</th>
                <th>Other Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.picture }}</td>
                <td>{{ restaurant.cuisine }}</td>
                <td>{{ restaurant.rating }}/5</td>
            </tr>
        </tbody>
    </table>
</body>
</html>